<ul class="nav text-bg-primary p-3">
    <li class="nav-item">
        <a class="nav-link text-bg-primary" aria-current="page" href="/contactos">Listado de contactos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-bg-primary" href="/contactos/nuevo">Nuevo contacto</a>
    </li>
</ul>